@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Pacifico&family=Poppins:wght@700&display=swap');

:root {
    --main-bg-color: #ffffff;   
    --main-text-color: #000000;
    --main-border-color: #d3d3d3;
}
*,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    position: fixed; 
    background-color: var(--main-bg-color);   
}
.header:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; 
    background-color: var(--main-bg-color);  
    z-index: 2;
}
.logo {
    text-decoration: none;
    flex: 0 0 60px;
    position: relative;
    z-index: 4;
}
.header__cart {
    flex: 0 0 40px;
    float: right;
    z-index: 4;
    display: flex;
    border-right: 2px solid var(--main-text-color);
    margin-right: 10px;
}
.header__basket {
    background-color: var(--main-bg-color);  
    width: 25px;
    height: 25px;
}
.header__cart img {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    background-color: var(--main-bg-color);  
}
.header__count {
    padding: 3px 10px 0 5px;
}
.logo__text {
    margin: 0 5px 10px 10px;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: var(--main-text-color);
    z-index: 5;
}
.header__body {
    position: relative; 
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__container {
    position: relative; 
    display: flex;
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;  
    position: relative;
    z-index: 2;
    padding: 0 5px 0 0;
}
.header__cartlist {
    display: none;
}
.header__cartlist.active {
    display: block;  
    position: relative;
    right: 50px;
    z-index: 2;
    padding: 20px 10px 10px;
    width: 100px;
    height: 140px;
    background-color: var(--main-bg-color);  
}
.header__list li {
    list-style: none;
    margin: 0 0 0 10px;
    position: relative;
}
.header__cartlist li {
    list-style: none;
    margin: 10px;
    text-align: center;
}
.header__link {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.header__link:hover, .header__cartlink:hover, .header__sublink:hover {
    color: #a0522d;
}
.header__cartlink {
    font-size: 12px;
    text-decoration: none;  
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.form-search {
    display: block;
}
.form-search input {
    all: unset;
    font-size: 10px;
    letter-spacing: 2px;
    width: 80%;
}
.form-search input[type="image"] {
    width: 15px;
    height: 15px;
}
.header__subnav {
    display: none;
}
.header__subnav.active {
    display: block;  
    position: absolute;
    left: -20px;
    z-index: 2;
    padding: 10px 10px 10px;
    width: 110px;
    height: 125px;
    background-color: var(--main-bg-color);  
}
.header__sublink {
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;  
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.header__subnav li {
    list-style: none;
    margin: 10px;
}
.header__subnav li:first-child {
    display: none;
    padding-right: 10px;
}
.content {
    padding: 100px 0 0;
}
@media (max-width: 900px){
    .header__logo {
        flex: 0 0 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-top: 3px;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: var(--main-text-color);
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        background-color: var(--main-text-color);
        transition: 0.3s;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 70px 10px 20px;
        background-color: var(--main-bg-color);  
        transition: 0.5s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
        padding: 0 10px 10px;
    }
    .header__list li {
        margin: 0 0 10px;
        border-top: 2px solid var(--main-border-color);  
        padding: 7px 10px 0 10px;
        line-height: 35px;
    }
    .header__list li:first-child {
        border-top: 0px;
    }
    body.lock {
        overflow: hidden;
    }
    .form-search input {
        font-size: 12px;
        width: 90%;
    }
    .form-search input[type="image"] {
        width: 15px;
        height: 15px;
    }
    .header__subnav.active {
        position: fixed;
        height: 235px;
        width: 100%;
        right: -100%;
        top: 65px;
        margin-left: 20px;
    }
    .header__subnav li:first-child {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: right;
        height: 43px;
        line-height: 45px;
    }
    .header__sublink#button_back {
        height: 40px;
        width: 40px;
        background-color: var(--main-bg-color);  
        border: 2px solid var(--main-border-color);  
        font-size: 20px;
        float: left;
    }
    .header__linkbutton#button_submenu {
        height: 40px;
        width: 40px;
        background-color: var(--main-bg-color);  
        border: 2px solid var(--main-border-color);  ;
        font-size: 20px;
        float: right;
    }
    .header__link.active:hover {
        color: var(--main-text-color);
    }
    i {
        border: solid #808080;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
    }
    .arrow_left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .arrow_right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .content {
        padding: 70px 0 0;
    }
}


